@model EnderecoModel
@{
    var cliente = ViewBag.Cliente as ClienteModel; 
}

<div class="container">
    <h1 class="text-primary">CRUD - Excluir</h1>
    <hr>
    <h4>Deseja realmente exluir o endereço "<span class="text-danger">@Model.EnderecoCompleto</span>" ?</h4>
    <form method="post" class="w-25">
        <input type="hidden" asp-for="@Model.IdEndereco" name="idEndereco">
        <input type="hidden" asp-for="@cliente.IdUsuario" name="idUsuario">
        <div class="mt-3">
            <a asp-action="Index" asp-route-cid="@cliente.IdUsuario" class="btn btn-success">Não</a>
            <button class="btn btn-danger" type="submit">Sim</button>
        </div>
    </form>
</div>